<!DOCTYPE html>
  <html>
    <head>
      {% load staticfiles %}
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body class="grey lighten-4">

      <style>
        .container{
          margin-top: 20px !important
        }

        .button{
          background-color: transparent !important;
          border-radius: 80% !important;
          box-shadow: none;
        }

        .button:hover{
          background-color: lightgray;
        }

        .button i{
          color: black;
        }
      </style>

      <nav class="blue lighten-2 z-depth-3">
        <div class="nav-wrapper">

          <ul class="left show-on-med-and-down">
            <li><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
          </ul>

          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a>Início</a></li>
            <li><a href="/web/planejamento">Planejamento</a></li>
          </ul>
          <ul class="right">
            <li><a href="/web"><i class="material-icons">exit_to_app</i></a></li>
          </ul>
        </div>

        <ul id="slide-out" class="sidenav">
          <li><div class="user-view">
            <div class="background">
              <img src="">
            </div>
            <a href="#user"><img class="circle" src=""></a>
            <a href="#name"><span class="white-text name">John Doe</span></a>
            <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
          </div></li>
          <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
          <li><a href="#!">Second Link</a></li>
          <li><div class="divider"></div></li>
        </ul>
      </nav>

    	<div class="container">